@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

  * {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  body {
    background: url("./assets/imgs/background.png");
    font-family: "Montserrat", sans-serif;
    color: #ffff;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  ::-webkit-scrollbar {
    width: 0.563rem;
    /* height: 10rem; */
  }

  ::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fcdf07;
    border-radius: 10px;
  }
  .buttonBack {
    display: block;
    margin: 0 auto;
  }

  .menuContainer {
    height: 80vh;
  }

  .modalBg {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }
  .modalListBg {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
  }
}
